.CaptureSound {
    width: 880px;
    height: 60vh;
    padding-top: 10px;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: 1 1;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
  }

.button{
    height: 70px; 
    display:flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    background-color: blue;
    color: azure;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
  }


  .cuenta{
    color: blue;
    display: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    align-items: center;
}

.h3{
    color: blue;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    justify-content: center;
    align-items: center;
}

.control{
    display: wrap;
    justify-content: center;
    align-items: center; 
}