.chart{
    width: 880px;
    height: 60vh;
    padding-top: 10px;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: 1 1;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
}