.FonoCardioTab{
    width: 880px;
    height: 45vh;
    padding-top: 10px;
    padding-bottom: 5%;
    background-color:whitesmoke;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: wrap;
 
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px; 
}