.App {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
}

.wave{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 880px;
  height: 60vh;
  background-color:whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  display: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px; 
}

.wave1{
  width: 0px;
  height: 0vh;
}

.form{
  padding-top: 3%;
  padding-bottom: 3%;
  color: blue;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.wav{
  padding-top: 3%;
  padding-bottom: 3%;
  color: blue;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  font-weight: bold;
  justify-content: center;
  align-items: center; 
}

.banner{
  background-color: blue;
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  font-weight: bold;
  justify-content: center;
  align-items: center; 
}


.pie{
  background-color: blue;
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  font-weight: bold;
  justify-content: center;
  align-items: center; 
}

.selected {
  background-color: #d3bdf0; /* Morado claro */
}